{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>PrédiLab - home</title>
  <meta name="title" content="PrédiLab - home">
  <!-- 
    - svg icon
-->
  <link rel="shortcut icon" href="{% static 'images/glucoselogo.svg' %}" type="image/svg+xml">
  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'index.css' %}">

</head>

<body id="top" >

  <!-- 
    - #PRELOADER
  -->
  <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div>
  
  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'images/logo.png'%}" width="50" height="26" alt="PrédiLab home">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <button class="nav-close-btn" aria-label="clsoe menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="navbar-link title-md">Accueil</a>
          </li>
          
          <li class="navbar-item">
            <a href="#about" class="navbar-link title-md">Diabète</a>
          </li>
          
          <li class="navbar-item">
            <a href="#blog" class="navbar-link title-md">Articles</a>
          </li>
          
          <li class="navbar-item">
            <a href="#footer" class="navbar-link title-md">Services</a>
          </li>


          <li class="navbar-item">
            <a href="#footer" class="navbar-link title-md">Contact</a>
          </li>

        </ul>

      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <a href="{% url 'auth' %}" class="btn has-before title-md">Se connecter</a>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero"  aria-label="home">
        <div class="container" >

          <div class="hero-content">

            <p class="hero-subtitle has-before" data-reveal="left">Bienvenue dans PrédiLab</p>

            <h2 class="headline-lg hero-title" data-reveal="left">
              Découvrir votre risque de diabète <br>
              En quelques minutes !
            </h2>


          </div>

          <figure class="hero-banner" data-reveal="right">
            <img src="{% static 'images/Diabetes-amico.png' %}" width="380px" height="350px" loading="eager" alt="hero banner"
              class="w-100" id="bg">
          </figure>

        </div>
      </section>
      
      
      
      
      <!-- 
        - #SERVICE
      -->
      
      <section class="service" aria-label="service" >
        <div class="container-service" >

          <ul class="service-list">

            <li>
              <div class="service-card"  data-reveal="bottom" >

                <div class="card-icon" >
                  <img src="{% static 'images/icon-1.png'%}" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  Commencer la prédiction
                </h3>
                <br>

                <a href="{% url 'predict1' %}"><button class="btn-circle" aria-label="read more about psychiatry">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button></a>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-labelledby="about-label" id="about">
        <div class="container">

          <div class="about-content">

            <p class="section-subtitle title-lg has-after" id="about-label" data-reveal="left">À propos du</p>

            <h2 class="headline-md" data-reveal="left">Diabète type 2</h2>

            <p class="section-text" data-reveal="left">
            C'est une maladie chronique caractérisée par un taux élevé de glucose ou une resistance à l'insuline.
            </p>

            <ul class="tab-list" data-reveal="left">
              
              <li>
                <button class="tab-btn active" id="symptomes-btn">Symptômes</button>
              </li>
              
              <li>
                <button class="tab-btn" id="facteur-btn">Facteurs de risque</button>
              </li>
              
              <li>
                <button class="tab-btn" id="prevention-btn">Prévention</button>
              </li>
              
            </ul>
            
            <div id="about-change">
            
                <p class="tab-text" data-reveal="left">
                  Parmi ses symptômes on trouve:
                </p>

                <div class="wrapper">
    
                  <ul class="about-list">
    
                    <li class="about-item" data-reveal="left">
                      <ion-icon name="checkmark-circle-outline"></ion-icon>
    
                      <span class="span">Une soif excessive</span>
                    </li>
    
                    <li class="about-item" data-reveal="left">
                      <ion-icon name="checkmark-circle-outline"></ion-icon>
    
                      <span class="span">Des urines fréquentes</span>
                    </li>

                    <li class="about-item" data-reveal="left">
                      <ion-icon name="checkmark-circle-outline"></ion-icon>
    
                      <span class="span">Fatigue excessive</span>
                    </li>
    
                    <li class="about-item" data-reveal="left">
                      <ion-icon name="checkmark-circle-outline"></ion-icon>
    
                      <span class="span">Perte de poids</span>
                    </li>
    
                  </ul>
                </div>

            </div>

          </div>

          <figure class="about-banner" data-reveal="right">
            <img src="{% static 'images/about-banner.png'%}" width="554" height="678" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

        </div>
        
      </section>


        <div class="container2">

        </div>

      <!-- 
        - #blog des articles
      -->

      <section id="blog" class="section blog" aria-labelledby="blog-label">
        <div class="container">

          <p class="section-subtitle title-lg text-center" id="blog-label" data-reveal="bottom">
            Articles et actualités
          </p>

          <h2 class="section-title headline-md text-center" data-reveal="bottom">Derniers articles</h2>

          <ul class="grid-list">

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom" id="article1card">
                <style>
                #article1card{background-image: url("{% static 'images/article1.jpg' %}");}
                #article2card{background-image: url("{% static 'images/article2.jpg' %}");}
                #article3card{background-image: url("{% static 'images/article3.jpg' %}");}

                </style>
                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">Par Hamza</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Etudiant</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Les Avancées Technologiques dans la Gestion du Diabète</h3>

                <time class="title-sm date" datetime="2022-01-28">30 mai, 2024</time>

                <p class="card-text">
                  Le diabète, une maladie chronique qui affecte des millions de personnes à travers le monde, nécessite une gestion quotidienne rigoureuse ...
                </p>

                <a href="#" class="btn-text title-lg " id="a-href1">Voir plus</a>

              </div>
               <!-- Popup Container -->
                  <div class="popup-container" id="popupContainer1">
                    <div class="popup-content">
                        <h1 class="popup-title">Les Avancées technologiques dans la gestion du Diabète</h1>
                        <img id="article1-img" src="{% static 'images/article1.jpg'%}" alt="">
                        <ul>
                          <li>
                              <h3>Introduction</h3>
                              <p>Le diabète, une maladie chronique qui affecte des millions de personnes à travers le monde, nécessite une gestion quotidienne rigoureuse pour prévenir les complications et assurer une bonne qualité de vie. Au fil des années, les avancées technologiques ont révolutionné la façon dont le diabète est diagnostiqué, surveillé et traité. Ces progrès ont permis aux patients de mieux gérer leur condition tout en réduisant la charge mentale et physique associée à la maladie.</p>
                          </li>
                          <li>
                              <h3>Surveillance et Suivi Continus</h3>
                              <p>L'une des avancées les plus significatives dans la gestion du diabète est le développement des systèmes de surveillance continue de la glycémie (CGM). Ces dispositifs utilisent des capteurs minuscules placés sous la peau pour mesurer en temps réel la glycémie du patient. Contrairement aux méthodes traditionnelles de mesure par piqûre au doigt, les CGM offrent des données continues tout au long de la journée et de la nuit, permettant aux patients de surveiller de manière proactive leurs niveaux de glucose et de prendre des décisions éclairées concernant leur alimentation, leur exercice et leur traitement.</p>
                          </li>
                          <li>
                              <h3>Insulinothérapie Avancée</h3>
                              <p>L'administration d'insuline est cruciale pour de nombreux patients diabétiques, en particulier ceux atteints de diabète de type 1. Les avancées technologiques ont conduit au développement de pompes à insuline intelligentes. Ces appareils programmables fournissent de l'insuline basale continue tout au long de la journée, imitant ainsi la fonction du pancréas chez les personnes en bonne santé. De plus, certaines pompes à insuline sont dotées de capteurs CGM intégrés, permettant une régulation automatique et adaptative de la dose d'insuline en fonction des niveaux de glucose mesurés.</p>
                          </li>
                          <li>
                              <h3>Intelligence Artificielle et Prévision du Glucose</h3>
                              <p>L'intelligence artificielle (IA) joue un rôle croissant dans la gestion personnalisée du diabète. Des algorithmes avancés analysent les données de glucose collectées par les CGM et les pompes à insuline pour prédire les tendances glycémiques futures. Ces prévisions aident les patients et les professionnels de santé à ajuster les traitements et à prévenir les épisodes d'hypo- ou d'hyperglycémie avant qu'ils ne surviennent, améliorant ainsi le contrôle glycémique global et la qualité de vie des patients diabétiques.</p>
                          </li>
                          <li>
                              <h3>Applications Mobiles et Connectivité</h3>
                              <p>Les applications mobiles et les plateformes de gestion du diabète jouent un rôle essentiel dans l'organisation et l'analyse des données de santé. Ces applications permettent aux patients de suivre leur alimentation, leur activité physique, leur prise de médicaments et leurs niveaux de glucose en un seul endroit. De plus, de nombreuses applications offrent des fonctionnalités de téléconsultation et de partage de données en temps réel avec les professionnels de santé, facilitant ainsi une prise en charge collaborative et proactive du diabète.</p>
                          </li>
                          <li>
                              <h3>Conclusion</h3>
                              <p>En conclusion, les avancées technologiques dans la gestion du diabète ont considérablement amélioré la qualité de vie des patients en leur offrant des outils innovants pour surveiller, traiter et prévoir leur condition de manière plus efficace. Cependant, malgré ces progrès, il reste encore des défis à relever, notamment l'accessibilité financière à ces technologies et l'éducation des patients et des soignants quant à leur utilisation optimale. Néanmoins, l'avenir semble prometteur avec la perspective continue d'innovations technologiques visant à transformer la prise en charge du diabète et à améliorer les résultats de santé à long terme.</p>
                          </li>
                      </ul>
                        <button class="close-btn" onclick="closePopup(1)">Fermer</button>
                    </div>
                </div>
            </li>

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom" id="article2card">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">Par Khadija</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Etudiant</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Alimentation et Diabète : Guide pour une Gestion Optimale de la Glycémie</h3>

                <time class="title-sm date" datetime="2022-01-28">28 mai, 2024</time>

                <p class="card-text">
                  L'alimentation joue un rôle crucial dans la gestion de la glycémie. Voici quelques conseils simples pour ...
                </p>

                <a href="#"  class="btn-text title-lg" id="a-href2">Voir plus</a>

              </div>
              <div class="popup-container" id="popupContainer2">
                <div class="popup-content">
                  <h1 class="popup-title">Alimentation et Diabète : Guide pour une Gestion Optimale de la Glycémie</h1>
                  <img id="article2-img" src="{% static 'images/article2.jpg'%}" alt="">
                  <ul>
                    <li>
                        <h3>Introduction</h3>
                        <p>Le diabète est une maladie chronique qui nécessite une gestion quotidienne pour prévenir les complications et maintenir une bonne qualité de vie. L'alimentation joue un rôle crucial dans la gestion de la glycémie. Voici quelques conseils simples pour vous aider à mieux gérer votre diabète grâce à une alimentation adaptée.</p>
                    </li>
                    <li>
                        <h3> Planification des repas</h3>
                        <p>Manger à des heures régulières et ne pas sauter de repas peut aider à maintenir une glycémie stable. Planifiez vos repas et vos collations pour éviter les fluctuations importantes de votre taux de sucre dans le sang.</p>
                    </li>
                    <li>
                        <h3>Comprendre les Glucides</h3>
                        <p>Les glucides ont un impact direct sur le taux de sucre dans le sang. Il est important de savoir quels aliments contiennent des glucides et comment ils affectent votre glycémie. Les sources courantes de glucides comprennent les fruits, les légumes féculents comme les pommes de terre, les céréales telles que le riz et le pain, ainsi que les produits laitiers.</p>
                    </li>
                    <li>
                        <h3>Choisir des Glucides de Qualité</h3>
                        <p>Tous les glucides ne sont pas égaux. Privilégiez les glucides complexes, qui sont digérés plus lentement et provoquent des hausses de glycémie plus graduelles. Les bons choix incluent les grains entiers comme l'avoine et le quinoa, les légumes non féculents tels que les épinards et les brocolis, ainsi que les fruits frais.
                        </p>
                    </li>
                    <li>
                        <h3>Limiter les Sucres Raffinés</h3>
                        <p>Les sucres raffinés, présents dans les sodas, les bonbons et les pâtisseries, peuvent provoquer des pics rapides de glycémie. Limitez leur consommation pour maintenir une glycémie stable.</p>
                    </li>
                    <li>
                      <h3>Les Protéines et les Graisses Saines</h3>
                      <p>Les protéines et les graisses peuvent aider à stabiliser la glycémie en ralentissant la digestion des glucides. Optez pour des sources de protéines maigres, comme le poulet, le poisson et les légumineuses, et des graisses saines, comme l'huile d'olive et les avocats.</p>
                  </li>
                  <li>
                    <h3>Boire Beaucoup d'Eau</h3>
                    <p>Rester hydraté est important pour tout le monde, mais particulièrement pour les personnes atteintes de diabète. L'eau est la meilleure option, car elle n'a pas d'impact sur la glycémie.</p>
                  </li>
                    <li>
                        <h3>Conclusion</h3>
                        <p>Adopter une alimentation équilibrée et bien planifiée est essentiel pour la gestion du diabète. En choisissant des glucides de qualité, en limitant les sucres raffinés, et en incluant des protéines et des graisses saines, vous pouvez mieux contrôler votre glycémie et améliorer votre qualité de vie.</p>
                    </li>
                </ul>
                  
                  <button class="close-btn" onclick="closePopup(2)">Fermer</button>
                </div>
            </div>
            </li>

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom" id="article3card">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">Par Hamza</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Etudiant</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">L'Impact de l'Exercice Physique sur la Gestion du Diabète</h3>
                <time class="title-sm date" datetime="2022-01-28">25 mai, 2024</time>
                <p class="card-text">
                  L'exercice physique est un élément clé dans la gestion du diabète. Il aide à contrôler la glycémie, améliore ...
                </p>

                <a href="#" class="btn-text title-lg" id="a-href3">Voir plus</a>

              </div>
              <div class="popup-container" id="popupContainer3">
                <div class="popup-content">
                  <h1 class="popup-title">L'impact de l'exercice physique sur la gestion du diabète</h1>
                  <img id="article3-img" src="{% static 'images/article3.jpg'%}" alt="">
                  <ul>
                    <li>
                      <h3>Introduction</h3>
                      <p>L'exercice physique est un élément clé dans la gestion du diabète. Il aide non seulement à contrôler la glycémie, mais aussi à améliorer la santé générale. Voici comment l'activité physique peut influencer positivement la gestion du diabète et des conseils pratiques pour intégrer l'exercice dans votre routine quotidienne.</p>
                    </li> 
                    <li>
                      <h3>Avantages de l'Exercice pour les Diabétiques</h3>
                      <p>L'exercice physique aide les muscles à utiliser le glucose comme source d'énergie, ce qui réduit les niveaux de sucre dans le sang et améliore la sensibilité à l'insuline, permettant ainsi une meilleure utilisation du glucose par les cellules. En outre, l'activité physique contribue à la perte de poids ou au maintien d'un poids santé, ce qui est particulièrement important pour les personnes atteintes de diabète de type 2, car la réduction de la graisse corporelle peut améliorer le contrôle de la glycémie. De plus, les diabétiques ont un risque accru de maladies cardiaques, et l'exercice régulier améliore la santé cardiovasculaire en réduisant le risque d'hypertension, de crise cardiaque et d'accident vasculaire cérébral. Enfin, l'activité physique peut également réduire le stress, l'anxiété et la dépression, des facteurs qui peuvent compliquer la gestion du diabète.</p>
                    </li>
                    <li>
                      <h3>Types d'Exercice Recommandés</h3>
                      <p>Des activités comme la marche, le jogging, le vélo et la natation sont excellentes pour améliorer la condition cardiorespiratoire et brûler des calories.
                        Les exercices de musculation, comme l'haltérophilie et les exercices de résistance avec des bandes élastiques, aident à construire et à maintenir la masse musculaire, augmentant la sensibilité à l'insuline.
                        Les exercices comme le yoga et le tai-chi peuvent améliorer l'équilibre, la souplesse et réduire le risque de chutes, particulièrement chez les personnes âgées.
                        </p>
                    </li>  
                    <li>
                      <h3>Conseils pour Commencer</h3>
                      <p>Avant de commencer un nouveau programme d'exercice, consultez votre médecin pour vous assurer qu'il est sûr et adapté à votre condition. Si vous n'avez pas été actif depuis un certain temps, commencez par des activités modérées et augmentez progressivement l'intensité et la durée. Essayez de faire au moins 150 minutes d'activité physique modérée par semaine, réparties sur plusieurs jours. Vérifiez vos niveaux de sucre dans le sang avant et après l'exercice pour comprendre comment votre corps réagit à l'activité physique. Buvez beaucoup d'eau avant, pendant et après l'exercice pour rester bien hydraté. Trouvez des activités que vous aimez pour rester motivé et rendre l'exercice une partie agréable de votre routine.</p>
                    </li>
                    <li>
                      <h3>Intégration dans le mode de vie quotidien</h3>
                      <p>Intégrez l'exercice physique dans votre routine quotidienne en optant pour des activités comme la marche pour les déplacements, l'utilisation des escaliers au lieu de l'ascenseur, ou la participation à des cours d'exercice en groupe.</p>
                    </li>
                    <li>
                      <h3>Conclusion</h3>
                      <p>L'exercice physique est un outil puissant pour la gestion du diabète. En intégrant régulièrement l'activité physique dans votre vie, vous pouvez améliorer votre contrôle de la glycémie, réduire les risques de complications et améliorer votre bien-être général. Consultez votre médecin et commencez dès aujourd'hui à profiter des nombreux avantages de l'exercice pour une vie plus saine et plus active.</p>
                    </li>
                  </ul>
                    <button class="close-btn" onclick="closePopup(3)">Fermer</button>
                </div>
            </div>
            </li>

          </ul>

        </div>
        
      </section>





  <!-- 
    - #FOOTER
  -->

    <footer id="footer" class="footer">
      <div class="container">
        <div class="section footer-top">
          <div class="footer-brand" data-reveal="bottom">
            <a href="index.html" class="logo">
              <img src="{% static 'images/logo.png'%}" width="64" height="30" loading="lazy" alt="PrédiLab home">
            </a>
            <ul class="contact-list has-after">
              <li class="contact-item">
                <div class="item-icon">
                  <ion-icon name="mail-open-outline"></ion-icon>
                </div>
                <div>
                  <p>Pour plus d'informations <br><a href="mailto:predilab1@gmail.com" class="contact-link">predilab1@gmail.com</a></p>
                </div>
              </li>
              <li class="contact-item">
                <div class="item-icon">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
                <div>
                  <p>Telephone d'office : <a href="tel:0568409080" class="contact-link">05 68 40 90 80</a></p>
                  <p>Telephone Mobile : <a href="tel:0659544270" class="contact-link">06 59 54 42 70</a></p>
                </div>
              </li>
            </ul>
          </div>
          <div class="footer-list" data-reveal="bottom">
            <p class="headline-sm footer-list-title">A propos nous</p>
            <p class="text">Nous somme deux éleves d'ingenierie logiciel, on a contribuer a la realisation de ce site web conçu pour la prédiction du diabète</p>
            <address class="address">
              <ion-icon name="map-outline"></ion-icon>
              <span class="text">Fste <br> Errachidia, 52000</span>
            </address>
          </div>
          <ul class="footer-list" data-reveal="bottom">
            <li>
              <p class="headline-sm footer-list-title">Nos services</p>
            </li>
            <li><a href="{%url 'predict1'%}" class="text footer-link">Prédiction</a></li>
            <li><a href="#blog" class="text footer-link">Articles et actualités</a></li>
            <li><a href="{% url 'doctors' %}" class="text footer-link">Consultations</a></li>
            <li><a href="{% url 'diets' %}" class="text footer-link">Règimes</a></li>
            
          </ul>
        </div>
        <div class="footer-bottom">
          <p class="text copyright">&copy; Prédilab 2024</p>
          <ul class="social-list">
            <li>
              <a href="https://www.linkedin.com/in/hamza-sakkoum-a0b478246/" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="{%static 'index.js'%}" ></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>